{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% block title %} 
{{block.super}} - Add task 
{% endblock %} 


{% block content %}

<h1>Add task</h1>

<form action="{% url 'add-task-2' %}" method="POST">
{% csrf_token %}
{% crispy form %}
</form>
<hr>
{% endblock %}